.wrapper {
  text-align: center;
  .title {
    font-size: 75px;
    padding: 30px 0;
    font-weight: 100;
  }

  .instruction {
    color: #bfbfbf;
    padding: 30px 0;
    margin-top: auto;
  }

  .todo-wrapper {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    background: white;

    app-header {
      height: 40px;
      padding: 20px;
    }
  }
}
